* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.image1 {
	width: 100%;
	height: 200px;
	background-image: url(img6/box1.jpg);
	background-size: cover;
	background-position: center;
}

.image2 {
	width: 100%;
	height: 200px;
	background-image: url(img6/box2.jpg);
	background-size: cover;
	background-position: center;
}

.image3 {
	width: 100%;
	height: 200px;
	background-image: url(img6/box3.jpg);
	background-size: cover;
	background-position: center;
}

.image4 {
	width: 100%;
	height: 200px;
	background-image: url(img6/box4.jpg);
	background-size: cover;
	background-position: center;
}